%h1 ノートブック

.add_notebook
  = link_to '新しいノートブックを追加 ', new_notebook_path

- @notebooks.each do |notebook|
  = link_to root_path do
    .notebook
      .title
        = notebook.title
      .note_count
        #{notebook.notes_count}個のノート
      / %td= link_to 'Destroy', notebook, :method => :delete, :data => { :confirm => 'Are you sure?' }
