%h1 Listing notebooks

%table
  %tr
    %th Title
    %th User
    %th Notes count
    %th Published at
    %th
    %th
    %th

  - @notebooks.each do |notebook|
    = link_to notebook do
      .notebook
        = notebook.title
        #{notebook.notes_count}個のノート
        / %td= link_to 'Destroy', notebook, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

= link_to 'New Notebook', new_notebook_path
