%p#notice= notice

%p
  %b タイトル
  #note_title{ contenteditable: 'true', :'data-mercury' => 'full' }
    = @note.title
%p
  %b 本文
  #note_body{ contenteditable: 'true', :'data-mercury' => 'full' }
    = strip_tags(@note.body)
