.notebooks_controller
  &.index_action
    .notebook
      width: 256px
      height: 256px
      background-image: asset-url('apple_festival_app_note.png')
      background-repeat: no-repeat
  &.show_action
    .note
      width: 256px
      height: 256px
      background-image: asset-url('notes.png')
      background-repeat: no-repeat
